<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.product_management" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KCC_MULTIPLEX" >
        <activity
            android:name="com.example.product_management.MainActivity6"
            android:exported="false" />

        <activity
            android:name="com.example.product_management.Main9Activity"
            android:exported="true"
            android:label="@string/title_activity_main9"
            android:theme="@style/Theme.KCC_MULTIPLEX.NoActionBar" />
        <activity
            android:name="com.example.product_management.MainActivity3"
            android:exported="false" />
        <activity
            android:name="com.example.product_management.MainActivity7"
            android:exported="false" />
        <activity
            android:name="com.example.product_management.MainActivity4"
            android:exported="false" />
        <activity
            android:name="com.example.product_management.MainActivity5"
            android:exported="false" />
        <activity
            android:name="com.example.product_management.MainActivity2"
            android:exported="false" />
        <activity
            android:name="com.example.product_management.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.product_management.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.product_management.ProductList"
            android:label="Product List"
            android:parentActivityName="com.example.product_management.LoginActivity" />
    </application>

</manifest>